body {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Courier New';
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    transition: text-shadow 0.5s ease, color 0.5s ease;
}

a:hover {
    color: red;
    text-shadow: 8px 4px 7px rgba(53, 1, 1, 0.548);
}

.left.logo {
    font-size: 24px;
    color: #f9faf8;
}

.right.links {
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.header,
.hero,
.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.left {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.right {
    display: flex;
    flex: 1 1 450px;
    justify-content: right;
}

.right img {
    width: 100%;
    height: auto;
    max-width: 450px;
    min-width: 300px;
    object-fit: contain;
    margin-bottom: 16px;
}

.head {
    font-size: 48px;
    margin: 0 0 8px 0;
    font-weight: 900;
    color: #f9faf8;
}

.body {
    text-wrap: normal;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 8px;
}

button {
    margin: auto 0;
    cursor: pointer;
    max-width: fit-content;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 900;
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    padding: 0.1em 0.9em;
    transition: box-shadow 0.5s ease, background-color 1s ease;
}

button:hover {
    background-color: red;
    box-shadow: 8px 4px 10px rgba(53, 1, 1, 0.342);
}

.hero-button {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: #e5e7eb7e;
    margin-bottom: 16px;
}

.button p {
    margin: auto 0;
}

.info {
    font-size: 36px;
    text-align: center;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 32px;
    margin-top: 64px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
}

.container .card {
    width: 204px;
    height: auto;
    margin: 0;
}

.container img,
.overlay,
.overlay2 {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: #3882f6 solid 2px;
    box-shadow: 3px 4px 6px #1f293769;
    margin-bottom: 8px;
}

.overlay,
.overlay2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #e5e7eb;
    font-size: 20px;
}

.overlay {
    opacity: 1;
    transition: 1s ease;
    background-color: #1f2937;
    font-style: italic;
}

.overlay2 {
    opacity: 0;
    align-items: end;
    transition: 0.5s ease;
    font-weight: 800;
}

.card.hidden:hover .overlay {
    opacity: 0;
}

.card.hidden:hover .overlay2 {
    opacity: 1;
}

.card .text {
    margin: 6px;
    text-wrap: wrap;
    text-align: center;
    max-width: 200px;
}

.quote {
    display: flex;
    justify-content: center;
    min-height: 10em;
    background-color: #e5e7eb;
}

.quote .text {
    flex: 1 1 800px;
    color: #1f2937;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    text-align: justify;
    padding: 72px;
}

.quote .text span {
    margin-top: 16px;
    display: block;
    font-weight: bold;
    text-align: right;
}

.margin {
    max-width: 300px;
    flex: 1 5 300px;
}

.call-to-action {
    max-width: 800px;
    display: flex;
    gap: 32px;
    background-color: #3882f6;
    margin: 32px auto;
    padding: 24px 32px;
    color: #f9faf8;
    border-radius: 8px;
}

.call-to-action-button {
    text-wrap: nowrap;
    border: 1px solid #f9faf8;
}

.text .head {
    font-size: 32px;
}
.text .body {
    font-size: 16px;
    margin: 0;
}

.footer {
    font-size: 12px;
    padding: 16px;
    color: #f9faf8;
}
.footer a {
    text-decoration: underline;
    font-size: 12px;
}