body {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Courier New';
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    transition: text-shadow 0.5s ease, color 0.5s ease;
}

a:hover {
    color: red;
    text-shadow: 8px 4px 7px rgba(53, 1, 1, 0.548);
}

.logo {
    flex: 1 1 450px;
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    justify-content: end;
    flex: 1 0 380px;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.header,
.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 32px 20vw;
    gap: 32px;
}

.left {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.right {
    display: flex;
    flex: 1 2 450px;
    justify-content: right;
}

.right img {
    width: 100%;
    height: auto;
    max-width: 450px;
    object-fit: contain;
}

.left .title {
    font-size: 48px;
    margin: 0 0 8px 0;
    font-weight: 900;
    color: #f9faf8;
}

.left .text {
    text-wrap: normal;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 8px;
}

.hero button {
    margin: auto 0;
    cursor: pointer;
    max-width: fit-content;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 900;
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    padding: 0.1em 0.9em;
    transition: box-shadow 0.5s ease, background-color 1s ease;
}

.hero button:hover {
    background-color: red;
    box-shadow: 8px 4px 10px rgba(53, 1, 1, 0.342);
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: #e5e7eb7e;
}

.button p {
    margin: auto 0;
}

.info {
    font-size: 32px;
    text-align: center;
    padding: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.container .card {
    width: 204px;
    height: auto;
    margin: 0;
}

.container img,
.overlay,
.overlay2 {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: #1f2937 solid 2px;
    box-shadow: 3px 4px 6px #1f293769;
    margin-bottom: 8px;
}

.overlay,
.overlay2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #e5e7eb;
    font-size: 20px;
}

.overlay {
    opacity: 1;
    transition: 1s ease;
    background-color: #1f2937;
}

.overlay2 {
    opacity: 0;
    align-items: end;
    transition: 0.5s ease;
    color: white;
}

.card.hidden:hover .overlay {
    opacity: 0;
}

.card.hidden:hover .overlay2 {
    opacity: 1;
}

.card .text {
    margin: 6px;
    text-wrap: wrap;
    text-align: center;
    max-width: 200px;
}